<%- include('header.html') %>
<div class="container-fluid">
    <div class="row-fluid">

        <div class="col-sm-9" style="background-color:#888888;height: 750px">

            <div class="col-sm-5 text-left">

                <ul>
                    <li style="margin: 30px"><img src="/images/background/tx.jpg" class="img-circle"
                                                  style="width:100px"></li>
                    <li style="margin: 30px"><font size="3" color="white">HelloZzzzz    904391206@qq.com</font></li>
                    <li style="margin: 30px"><font size="3" color="white">1. Java语言基础扎实，能熟练使用 Java 语言、设计模式进行符合面向对象的开发。开源学习地址：https://github.com/HelloZzzzz</font></li>
                    <li style="margin: 30px"><font size="3" color="white">2. 熟练使用SpringBoot，SpringMVC，MyBatis等开源框架开发。了解学习使用springcloud以及springcloud alibaba</font>
                    <li style="margin: 30px"><font size="3" color="white">3. 熟练使用Linux进行项目部署上线，了解docker、rocketmq、redis集群和 ELK日志查询系统搭建。</font>
                    <li style="margin: 30px"><font size="3" color="white">4. 熟练使用git、maven、jmeter和Fiddler等常用开发工具，了解node.js和 python。</font>
                    </li>
                </ul>


            </div>
            <div class="col-sm-7 text-left">

                <ul>

                    <li style="margin-top: 100px"><font size="5" color="white">开源作品</font></li>
                    <li style="margin: 30px"><font size="5" color="white">Java</font></li>
                    <li style="margin: 30px"><font size="3" color="white">1.切换openid粉丝迁移:https://github.com/HelloZzzzz/change-openid</font>
                    </li>
                    <li style="margin: 30px"><font size="3" color="white">2.仿写拆分springmvc:https://github.com/HelloZzzzz/tiny-webapplication</font>
                    </li>
                    <li style="margin: 30px"><font size="3" color="white">3.仿写拆分mybatis:https://github.com/HelloZzzzz/tiny_mybatis</font>
                    </li>
                    <li style="margin: 30px"><font size="5" color="white">NodeJs</font></li>
                    <li style="margin: 30px"><font size="3" color="white">1.nodejs做的博客系统:https://github.com/HelloZzzzz/tiny-nodejs-blob</font>
                    </li>
                </ul>

            </div>

        </div>
        <div class="col-sm-3">

            <%- include('right.html') %>
        </div>
    </div>
</div>
<%- include('footer.html') %>